node_modules
.DS_Store
*.log
.env*
coverage
.tsbuildinfo
.agents
src/
ui/mock-ui/node_modules/
ui/mock-ui/src/

# Repository and Development Folders
examples/
scratch/
docs/
assets/
github-action/
.github/
.husky/
.vscode/
.opencode/

# Development Config Files
tsconfig.json
tsup.config.ts
vitest.config.ts
.prettierignore
